openapi: 3.0.3
info:
  title: mateoaristi.us portfolio API
  version: 1.0.0
  description: Public + private API for the mateoaristi.us portfolio site. Protected at the edge by Cloudflare API Shield.
servers:
  - url: https://mateoaristi.us
    description: production (behind Cloudflare)
paths:
  /api/v1/status:
    get:
      summary: Service liveness + version
      operationId: getStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [ok, service, version, now]
                properties:
                  ok:       { type: boolean }
                  service:  { type: string }
                  version:  { type: string }
                  now:      { type: string, format: date-time }
  /api/v1/projects:
    get:
      summary: List all portfolio projects
      operationId: listProjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items, count]
                properties:
                  count: { type: integer, minimum: 0 }
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Project' }
  /api/v1/projects/{id}:
    get:
      summary: Get one project by id
      operationId: getProject
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            pattern: '^[a-z0-9-]{1,64}$'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '404':
          description: not found
  /api/v1/contact:
    post:
      summary: Submit a contact-form message
      operationId: submitContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, message]
              additionalProperties: false
              properties:
                name:    { type: string, minLength: 1, maxLength: 100 }
                email:   { type: string, format: email, maxLength: 200 }
                message: { type: string, minLength: 1, maxLength: 2000 }
      responses:
        '200':
          description: OK
  /api/v1/private/me:
    get:
      summary: Return caller identity from JWT claims
      operationId: getMe
      security:
        - bearerAuth: []
      responses:
        '200': { description: OK }
        '401': { description: unauthorized }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Project:
      type: object
      required: [id, name, stack, summary]
      properties:
        id:      { type: string }
        name:    { type: string }
        summary: { type: string }
        stack:
          type: array
          items: { type: string }
